body{
  background-color: aquamarine;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;

}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: rgb(214, 184, 12);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;

}

.add-button{
  background-color: green;
}
.add-button:hover{
  background-color: hotpink;
  color: black;
}

.delete-button{
  background-color: red;
  color: white;
}
.delete-button:hover{
  background-color: indigo;
  
}

.move-button{
  background-color: rgb(26, 26, 161);
  color: white;
}
.move-button:hover{
  background-color: greenyellow;
  color: black;
}

input[type = "text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  
}

ol{
  padding: 0px;

}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px ;
  background-color: white;
  margin-bottom: 10px;
  border:3px solid rgb(117, 109, 109) ;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{

  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}

input[type = "text"], .add-button{
  margin-left: 10px;
  
}

